In [1]:
'''INTRODUCTION HERE'''

In [ ]:
import pandas as pd

In [67]:
dlp_2019 = pd.read_excel("dl-dashboard-ay2019-2020-q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2019.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2019["Year"] = 2019
dlp_2019.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100200,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY,AL,357621357,Public,3370,3421,13356264,3451,6952826,...,1228,16722864,1277,8769833,133,140,979503,151,590627,2019
1,100300,FAULKNER UNIVERSITY,AL,361093398,Private-Nonprofit,1169,1178,3512157,1871,2465575,...,199,1806153,226,1025937,144,166,2897410,183,1513954,2019

In [68]:
dlp_2018 = pd.read_excel("dl-dashboard-ay2018-2019-q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2018.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2018["Year"] = 2018
dlp_2018.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100200,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY,AL,357621357,Public,3173,3213,11991698,3235,6525350,...,1146,13995694,1188,7532369,156,159,1040063,177,631779,2018
1,100300,FAULKNER UNIVERSITY,AL,361093398,Private-Nonprofit,1186,1207,3565702,1944,2507975,...,202,1857388,224,1023071,151,179,3635751,207,1952263,2018

In [69]:
dlp_2017 = pd.read_excel("DL_Dashboard_AY2017_2018_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2017.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2017["Year"] = 2017
dlp_2017.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,106100,ALASKA PACIFIC UNIVERSITY,AK,995084672,Private-Nonprofit,115,115,478127,116,255355,...,16,189245,18,93409,2,2,35210,2,17605,2017
1,106300,UNIVERSITY OF ALASKA FAIRBANKS,AK,997757500,Public,1172,1200,4286754,1200,2402147,...,65,787012,65,434517,8,9,202437,9,106727,2017

In [70]:
dlp_2016 = pd.read_excel("DL_Dashboard_AY2016_2017_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2016.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2016["Year"] = 2016
dlp_2016.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100300,Faulkner University,AL,361093398,Private-Nonprofit,1413,1435,4307494,2272,3021887,...,222,1865222,249,1045506,193,221,5683409,229,2935470,2016
1,100400,UNIVERSITY OF MONTEVALLO,AL,351156000,Public,1124,1157,4308590,1180,2367183,...,236,2283393,263,1278714,12,12,122940,12,64690,2016

In [71]:
dlp_2015 = pd.read_excel("DL_Dashboard_AY2015_2016_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2015.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2015["Year"] = 2015
dlp_2015.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100300,FAULKNER UNIVERSITY,AL,361093398,Private-Nonprofit,1458,1520,4942297,2482,3643479,...,243,1939785,290,1098878,193,223,5194329,228,2669770,2015
1,100400,UNIVERSITY OF MONTEVALLO,AL,351156000,Public,1214,1235,4710718,1251,2552573,...,209,2016112,230,1147410,8,8,77096,8,38548,2015

In [72]:
dlp_2014 = pd.read_excel("DL_Dashboard_AY2014_2015_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2014.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2014["Year"] = 2014
dlp_2014.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100300,FAULKNER UNIVERSITY,AL,361093398,Private-Nonprofit,1606,1708,5495051,2644,4104159,...,202,1865428,217,1022831,197,232,4900674,252,2591521,2014
1,100400,UNIVERSITY OF MONTEVALLO,AL,351156000,Public,1244,1295,5062040,1327,2718152,...,131,1158878,150,650467,11,14,140573,16,72949,2014

In [73]:
dlp_2013 = pd.read_excel("DL_Dashboard_AY2013_2014_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2013.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2013["Year"] = 2013
dlp_2013.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100300,FAULKNER UNIVERSITY,AL,361093398,Private-Nonprofit,1522,1619,5075045,2140,3867503,...,176,1566216,180,854989,193,227,4969426,227,2691374,2013
1,100400,UNIVERSITY OF MONTEVALLO,AL,351156000,Public,1251,1272,5010667,1301,2740910,...,130,941620,149,535426,8,9,66642,11,37744,2013

In [74]:
dlp_2012 = pd.read_excel("DL_Dashboard_AY2012_2013_Q2.xls", sheet_name='Award Year Summary', header=[6])
dlp_2012.columns = ['OPE ID', 'School', 'State', 'Zip Code', 'School Type', 
                    'Recipients - DL SUBSIDIZED', '# of Loans Originated - DL SUBSIDIZED', '$ of Loans Originated - DL SUBSIDIZED', '# of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL SUBSIDIZED',
                    'Recipients - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE', '# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE',
                    'Recipients - DL UNSUBSIDIZED - GRADUATE', '# of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE', '# of Disbursements- DL UNSUBSIDIZED - GRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE',
                    'Recipients - DL PARENT PLUS', '# of Loans Originated - DL PARENT PLUS', '$ of Loans Originated - DL PARENT PLUS', '# of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL PARENT PLUS',
                    'Recipients - DL GRAD PLUS', '# of Loans Originated - DL GRAD PLUS', '$ of Loans Originated - DL GRAD PLUS', '# of Disbursements- DL GRAD PLUS', '$ of Disbursements- DL GRAD PLUS']
dlp_2012["Year"] = 2012
dlp_2012.head(2)

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,106300,UNIVERSITY OF ALASKA FAIRBANKS,AK,997757500,PUBLIC,1659,1698,6245764,1698,3457478,...,199,1865628,199,1009563,2,5,24107,5,12054,2012
1,106500,UNIVERSITY OF ALASKA SOUTHEAST,AK,998018680,PUBLIC,426,438,1694603,438,873727,...,30,314828,30,163157,13,13,40380,13,20876,2012

In [107]:
    # OKAY! Now let's join all the tables since we have imported them, renamed all columns, 
    # and added the year to each record. 
loan_tables = [dlp_2019, dlp_2018, dlp_2017, dlp_2016, dlp_2015, dlp_2014, dlp_2013, dlp_2012]
loan = pd.concat(loan_tables) # This function allows us to concateneate the tables.... nifty!

In [116]:
    # Now that the tables have been concatenated into a master df, we'll clean up any dashes that denote no data. 
loan = loan.replace('-', '0', regex=True)
loan = loan.replace(' -', '0', regex=True)
loan = loan.replace('- ', '0', regex=True)

In [117]:
# Let's see what the first few rows look like after concatenating and cleaning the master df. 
loan.head()

,OPE ID,School,State,Zip Code,School Type,Recipients - DL SUBSIDIZED,# of Loans Originated - DL SUBSIDIZED,$ of Loans Originated - DL SUBSIDIZED,# of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL SUBSIDIZED,...,# of Loans Originated - DL PARENT PLUS,$ of Loans Originated - DL PARENT PLUS,# of Disbursements- DL PARENT PLUS,$ of Disbursements- DL PARENT PLUS,Recipients - DL GRAD PLUS,# of Loans Originated - DL GRAD PLUS,$ of Loans Originated - DL GRAD PLUS,# of Disbursements- DL GRAD PLUS,$ of Disbursements- DL GRAD PLUS,Year
0,100200,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY,AL,357621357,Public,3370,3421,13356264.0,3451,6952826.0,...,1228,16722864.0,1277,8769833.0,133,140,979503.0,151,590627.0,2019
1,100300,FAULKNER UNIVERSITY,AL,361093398,Private0Nonprofit,1169,1178,3512157.0,1871,2465575.0,...,199,1806153.0,226,1025937.0,144,166,2897410.0,183,1513954.0,2019
2,100400,UNIVERSITY OF MONTEVALLO,AL,351156000,Public,1004,1027,3960590.0,1030,2137690.0,...,281,3363127.0,305,1846173.0,13,14,105380.0,16,59497.0,2019
3,100500,ALABAMA STATE UNIVERSITY,AL,361045714,Public,2254,2267,9302799.0,2319,4878047.0,...,720,9937071.0,774,5251032.0,75,78,823249.0,84,446039.0,2019
4,100700,CENTRAL ALABAMA COMMUNITY COLLEGE,AL,350100000,Public,145,149,437228.0,197,266182.0,...,1,7725.0,1,3863.0,0,0,0.0,0,0.0,2019

In [118]:
    # What is the shape/volume of the combined data set we are working with?
loan.shape

(42160, 31)

In [119]:
    # What are the current data types for each field look like?
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42160 entries, 0 to 5510
Data columns (total 31 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   OPE ID                                                   42160 non-null  int64
 1   School                                                   42160 non-null  object
 2   State                                                    42160 non-null  object
 3   Zip Code                                                 42025 non-null  object
 4   School Type                                              42160 non-null  object
 5   Recipients - DL SUBSIDIZED                               42160 non-null  int32
 6   # of Loans Originated - DL SUBSIDIZED                    42160 non-null  int32
 7   $ of Loans Originated - DL SUBSIDIZED                    42160 non-null  float64
 8   # of Disbursements- DL SUBSIDIZED                        42160 non-null  int32
 9   $ of Disbursements- DL SUBSIDIZED                        42160 non-null  float64
 10  Recipients - DL UNSUBSIDIZED - UNDERGRADUATE             42160 non-null  int32
 11  # of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE  42160 non-null  int32
 12  $ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE  42160 non-null  float64
 13  # of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE      42160 non-null  int32
 14  $ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE      42160 non-null  float64
 15  Recipients - DL UNSUBSIDIZED - GRADUATE                  42160 non-null  int32
 16  # of Loans Originated - DL UNSUBSIDIZED - GRADUATE       42160 non-null  int32
 17  $ of Loans Originated - DL UNSUBSIDIZED - GRADUATE       42160 non-null  float64
 18  # of Disbursements- DL UNSUBSIDIZED - GRADUATE           42160 non-null  int32
 19  $ of Disbursements- DL UNSUBSIDIZED - GRADUATE           42160 non-null  float64
 20  Recipients - DL PARENT PLUS                              42160 non-null  int32
 21  # of Loans Originated - DL PARENT PLUS                   42160 non-null  int32
 22  $ of Loans Originated - DL PARENT PLUS                   42160 non-null  float64
 23  # of Disbursements- DL PARENT PLUS                       42160 non-null  int32
 24  $ of Disbursements- DL PARENT PLUS                       42160 non-null  float64
 25  Recipients - DL GRAD PLUS                                42160 non-null  int32
 26  # of Loans Originated - DL GRAD PLUS                     42160 non-null  int32
 27  $ of Loans Originated - DL GRAD PLUS                     42160 non-null  float64
 28  # of Disbursements- DL GRAD PLUS                         42160 non-null  int32
 29  $ of Disbursements- DL GRAD PLUS                         42160 non-null  float64
 30  Year                                                     42160 non-null  int64
dtypes: float64(10), int32(15), int64(2), object(4)
memory usage: 7.9+ MB

In [121]:
    # Second, we'll need to change all the object fields to one of int, float, or str.
    # Note: Here is where I found the data type conversion issue due to dashes, but we cleaned them out in 
        #an earlier step

    # Conversion of the string fields
loan['School'] = loan['School'].astype(str)
loan['State'] = loan['State'].astype(str)
loan['School Type'] = loan['School Type'].astype(str)

    # Conversion of the float fields (currency based fields) 
loan['$ of Loans Originated - DL SUBSIDIZED'] = loan['$ of Loans Originated - DL SUBSIDIZED'].astype(float)
loan['$ of Disbursements- DL SUBSIDIZED'] = loan['$ of Disbursements- DL SUBSIDIZED'].astype(float)
loan['$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE'] = loan['$ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE'].astype(float)
loan['$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE'] = loan['$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE'].astype(float)
loan['$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE'] = loan['$ of Loans Originated - DL UNSUBSIDIZED - GRADUATE'].astype(float)
loan['$ of Disbursements- DL UNSUBSIDIZED - GRADUATE'] = loan['$ of Disbursements- DL UNSUBSIDIZED - GRADUATE'].astype(float)
loan['$ of Loans Originated - DL PARENT PLUS'] = loan['$ of Loans Originated - DL PARENT PLUS'].astype(float)
loan['$ of Disbursements- DL PARENT PLUS'] = loan['$ of Disbursements- DL PARENT PLUS'].astype(float)
loan['$ of Loans Originated - DL GRAD PLUS'] = loan['$ of Loans Originated - DL GRAD PLUS'].astype(float)
loan['$ of Disbursements- DL GRAD PLUS'] = loan['$ of Disbursements- DL GRAD PLUS'].astype(float)

    # Conversion of the int fields

#loan['Zip Code'] = loan['Zip Code'].astype(int)
    
loan['Recipients - DL SUBSIDIZED'] = loan['Recipients - DL SUBSIDIZED'].astype(int)
loan['Recipients - DL UNSUBSIDIZED - UNDERGRADUATE'] = loan['Recipients - DL UNSUBSIDIZED - UNDERGRADUATE'].astype(int)
loan['Recipients - DL UNSUBSIDIZED - GRADUATE'] = loan['Recipients - DL UNSUBSIDIZED - GRADUATE'].astype(int)
loan['Recipients - DL PARENT PLUS'] = loan['Recipients - DL PARENT PLUS'].astype(int)
loan['Recipients - DL GRAD PLUS'] = loan['Recipients - DL GRAD PLUS'].astype(int)
                                                               
loan['# of Loans Originated - DL SUBSIDIZED'] = loan['# of Loans Originated - DL SUBSIDIZED'].astype(int)
loan['# of Disbursements- DL SUBSIDIZED'] = loan['# of Disbursements- DL SUBSIDIZED'].astype(int)
loan['# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE'] = loan['# of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE'].astype(int)
loan['# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE'] = loan['# of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE'].astype(int)
loan['# of Loans Originated - DL UNSUBSIDIZED - GRADUATE'] = loan['# of Loans Originated - DL UNSUBSIDIZED - GRADUATE'].astype(int)
loan['# of Disbursements- DL UNSUBSIDIZED - GRADUATE'] = loan['# of Disbursements- DL UNSUBSIDIZED - GRADUATE'].astype(int)
loan['# of Loans Originated - DL PARENT PLUS'] = loan['# of Loans Originated - DL PARENT PLUS'].astype(int)
loan['# of Disbursements- DL PARENT PLUS'] = loan['# of Disbursements- DL PARENT PLUS'].astype(int)
loan['# of Loans Originated - DL GRAD PLUS'] = loan['# of Loans Originated - DL GRAD PLUS'].astype(int)
loan['# of Disbursements- DL GRAD PLUS'] = loan['# of Disbursements- DL GRAD PLUS'].astype(int)

In [111]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42160 entries, 0 to 5510
Data columns (total 31 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   OPE ID                                                   42160 non-null  int64
 1   School                                                   42160 non-null  object
 2   State                                                    42160 non-null  object
 3   Zip Code                                                 42025 non-null  object
 4   School Type                                              42160 non-null  object
 5   Recipients - DL SUBSIDIZED                               42160 non-null  int32
 6   # of Loans Originated - DL SUBSIDIZED                    42160 non-null  int32
 7   $ of Loans Originated - DL SUBSIDIZED                    42160 non-null  float64
 8   # of Disbursements- DL SUBSIDIZED                        42160 non-null  int32
 9   $ of Disbursements- DL SUBSIDIZED                        42160 non-null  float64
 10  Recipients - DL UNSUBSIDIZED - UNDERGRADUATE             42160 non-null  int32
 11  # of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE  42160 non-null  int32
 12  $ of Loans Originated - DL UNSUBSIDIZED - UNDERGRADUATE  42160 non-null  float64
 13  # of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE      42160 non-null  int32
 14  $ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE      42160 non-null  float64
 15  Recipients - DL UNSUBSIDIZED - GRADUATE                  42160 non-null  int32
 16  # of Loans Originated - DL UNSUBSIDIZED - GRADUATE       42160 non-null  int32
 17  $ of Loans Originated - DL UNSUBSIDIZED - GRADUATE       42160 non-null  float64
 18  # of Disbursements- DL UNSUBSIDIZED - GRADUATE           42160 non-null  int32
 19  $ of Disbursements- DL UNSUBSIDIZED - GRADUATE           42160 non-null  float64
 20  Recipients - DL PARENT PLUS                              42160 non-null  int32
 21  # of Loans Originated - DL PARENT PLUS                   42160 non-null  int32
 22  $ of Loans Originated - DL PARENT PLUS                   42160 non-null  float64
 23  # of Disbursements- DL PARENT PLUS                       42160 non-null  int32
 24  $ of Disbursements- DL PARENT PLUS                       42160 non-null  float64
 25  Recipients - DL GRAD PLUS                                42160 non-null  int32
 26  # of Loans Originated - DL GRAD PLUS                     42160 non-null  int32
 27  $ of Loans Originated - DL GRAD PLUS                     42160 non-null  float64
 28  # of Disbursements- DL GRAD PLUS                         42160 non-null  int32
 29  $ of Disbursements- DL GRAD PLUS                         42160 non-null  float64
 30  Year                                                     42160 non-null  int64
dtypes: float64(10), int32(15), int64(2), object(4)
memory usage: 7.9+ MB

In [122]:
# Okay! Let's find out some loan trends over time.

In [190]:
# How many schools are partipating in the Title V Direct Loan Program Per Year?

loan['Year'].value_counts()

#loan['Year'].value_counts().sort_values(by = ['Year'],ascending=False)
# VONN: why does the sort function work elsewhere?

2012    5511
2013    5399
2014    5378
2015    5345
2016    5261
2017    5173
2018    5094
2019    4999
Name: Year, dtype: int64

In [145]:
# What is the total $ distribution trend by year?
loan_total = loan['$ of Disbursements- DL SUBSIDIZED'].sum() + loan['$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE'].sum() + loan['$ of Disbursements- DL UNSUBSIDIZED - GRADUATE'].sum() + loan['$ of Disbursements- DL PARENT PLUS'].sum() + loan['$ of Disbursements- DL GRAD PLUS'].sum()
loan_total

333735826580.0

In [149]:
# Hmmm... hard to read, huh? let's convert the float to currency form.
def billions(value):
        return "${:.1f}B".format(value/1000000000)
billions(333735826580.0)

'$333.7B'

In [171]:
# Let's see the distribution of the total dispursements by year.
loan.groupby(['Year'])[['$ of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE','$ of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL GRAD PLUS']].sum().sort_values(by=['Year'],ascending=False)

,$ of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE,$ of Disbursements- DL UNSUBSIDIZED - GRADUATE,$ of Disbursements- DL PARENT PLUS,$ of Disbursements- DL GRAD PLUS
Year,,,,,
2019,6.874792e+10,8.806438e+09,1.122255e+10,6.160751e+09,4.731332e+09
2018,6.874792e+10,9.033811e+09,1.141339e+10,6.280153e+09,4.555868e+09
2017,6.874792e+10,9.545879e+09,1.146316e+10,6.377076e+09,4.393905e+09
2016,6.874792e+10,9.967643e+09,1.127822e+10,6.188584e+09,4.081607e+09
2015,6.874792e+10,1.033243e+10,1.110758e+10,5.737055e+09,3.665791e+09
2014,6.874792e+10,1.128804e+10,1.121516e+10,5.242869e+09,3.520544e+09
2013,6.874792e+10,1.193687e+10,1.156831e+10,5.081141e+09,3.478420e+09
2012,6.874792e+10,1.275077e+10,1.164483e+10,4.935132e+09,3.359834e+09

In [167]:
# How to apply the a currency formatting here? 
loan[['$ of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE','$ of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL GRAD PLUS']] = loan.apply(lambda x: "{:,}".format(x[['$ of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE','$ of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL GRAD PLUS']]), axis=1)
loan.head()

TypeError: unsupported format string passed to Series.__format__

In [170]:
loan.groupby(['Year'])[['School', '$ of Disbursements- DL SUBSIDIZED', '$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE', '$ of Disbursements- DL UNSUBSIDIZED - GRADUATE','$ of Disbursements- DL PARENT PLUS', '$ of Disbursements- DL GRAD PLUS']].max().sort_values(by=['Year'],ascending=False)

,School,$ of Disbursements- DL SUBSIDIZED,$ of Disbursements- DL UNSUBSIDIZED - UNDERGRADUATE,$ of Disbursements- DL UNSUBSIDIZED - GRADUATE,$ of Disbursements- DL PARENT PLUS,$ of Disbursements- DL GRAD PLUS
Year,,,,,,
2019,ZMS THE ACADEMY,8.796387e+09,82335218.0,205219684.0,83540764.0,160805106.0
2018,ZMS THE ACADEMY,8.796387e+09,78426050.0,206050627.0,85575238.0,200407785.0
2017,ZMS THE ACADEMY,8.796387e+09,75720485.0,211901641.0,88616866.0,187373617.0
2016,ZMS THE ACADEMY,8.796387e+09,89221051.0,219208144.0,89315391.0,171854790.0
2015,ZMS THE ACADEMY,8.796387e+09,122759517.0,228875844.0,80789369.0,114914171.0
2014,ZANE STATE COLLEGE,8.796387e+09,179436323.0,249330975.0,75745456.0,113595066.0
2013,ZANE STATE COLLEGE,8.796387e+09,231189654.0,262313253.0,73154730.0,106182020.0
2012,ZANE STATE COLLEGE,8.796387e+09,308891682.0,259706784.0,72016129.0,100347725.0